@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: grid;
  grid-template-areas: "page-navigation logo navigation-user";
  grid-template-columns: 530px 140px 530px;
  height: 65px;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.page-navigation {
  grid-area: page-navigation;
  justify-content: left;
  margin-left: 71px;
  padding: 0;
}

.page-navigation.navigation-item {
  padding-right: 33px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.want-here {
  display: flex;
  align-items: center;
  width: 160px;
  height: 37px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  grid-area: logo;
  justify-self: center;
  margin: 0;
  padding: 0;
  position: absolute;
}

.navigation-user {
  grid-area: navigation-user;
  display: flex;
  justify-content: right;
  margin-right: 72px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  padding-right: 20px;
}

.navigation-item {
  display: flex;
}

.navigation-link {
  display: block;
  flex-wrap: wrap;
  padding: 19px 20px;
  color: inherit;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.navigation-user,
.navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.main-index {
  color: inherit;
  background-color: inherit;
  text-align: center;
}

.background-container {
  flex-grow: 1;
  padding-top: 51.4px;
  position: static;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.background-container::after {
  content: url("../images/main/divider.svg");
  display: block;
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 350.57px;
  width: 456.7px;
  margin-bottom: 83.03px;
}

.intro {
  height: 282px;
  margin: 0;
  padding: 0;
}

.about {
  margin-top: 63px;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.comparison {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.reason {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.reason-true-city,
.reason-devil-bridge {
  color: #ffffff;
  background-color: #83b3d3;
}

.reason-home,
.reason-souvenirs,
.reason-area,
.reason-tourists {
  background: rgba(131, 179, 211, 0.12);
}

.reason-road {
  background: rgba(131, 179, 211, 0.2);
}

.reason-photo {
  width: 800;
  height: 384;
}

.reason-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.reason-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.reason-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

/*надо додумать чтобы избавиться от coldblue-bg*/
.true-city {
  color: #ffffff;
  background-color: #83b3d3;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border-radius: 4px;
}

.interested {
  height: 417px;
}

.interested-container {
  padding-top: 91px;
  align-content: center;
}

.looking-for-hotel {
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
  margin: 0 auto;
  width: 575px;
  height: 60px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
}

.mailing {
  display: block;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/main/mailing-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 411px;
}

.mailing-container {
  padding-top: 94px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
}
.field {
  width: 600px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.6;
  padding-left: 22px;
}

.button-subscribe {
  width: 200px;
  height: 62px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

/*сюда модальное окно*/
.modal-container {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-content {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
}

.modal-title {
  display: flex;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button-wrapper {
  margin: 0;
  padding: 0;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 6;
  grid-column-end: 6;
}

.modal-close-button {
  background: #83b3d3;
  border-radius: 50%;
  position: absolute;
  width: 53px;
  height: 53px;
  background: #f2f2f2;
  border: none;
  background-image: url("../images/modal/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.arrival {
  display: flex;
  margin: 0;
  padding: 0;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.arrival-date {
  width: 420px;
  height: 60px;
  margin: 0;
  padding: 0;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 6;
}

.input[type="date"] {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.tip {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.error {
  display: flex;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 6;
  color: #ff5757;
}

.departure {
  display: flex;
  margin: 0;
  padding: 0;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.departure-date {
  width: 420px;
  height: 60px;
  margin: 0;
  padding: 0;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 6;
}

.good-tip {
  display: flex;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.grown-ups,
.kids {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.grown-ups {
  margin: 0;
  padding: 0;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grown-ups-counter {
  display: flex;
  margin: 0;
  padding: 0;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grown-up-number,
.kids-number {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.kids {
  margin: 0;
  padding: 0;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 4;
}

.info-wrapper {
  display: flex;
  background: #83b3d3;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 5;
}

.info {
  margin: 0 auto;
  padding: 0;
}

.kids-counter {
  display: flex;
  margin: 0;
  padding: 0;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 6;
}

.button-search-wrap {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background: #83b3d3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 6;
}

.button-search {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
}

.main-inner {
  min-width: 1200px;
  background-image: url("../images/catalogue/catalogue-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  justify-self: center;
  flex-grow: 1;
  position: relative;
}

.main-inner-container {
  min-width: 1024px;
}

.inner-header-title {
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 71px;
  line-height: 1;
}

/*как их сместить влево?*/
.breadcrumbs {
  display: flex;
  justify-content: start;
  list-style-type: none;
  width: 111;
  height: 21;
  margin-left: 71px;
  padding: 0;
  margin-top: 0;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-right: 10px;
}

.hotel-parameter {
  margin-top: 45px;
  display: flex;
}

.catalog-filter-group {
  margin-left: 71px;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 71px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.legend {
  padding: 0;
  margin: 0;
}

/*где чекбоксы*/
.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control input label:before {
  margin: 0;
  padding: 0;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 4px;
}

.control input label::before {
  background: black;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.button-submit {
  width: 160px;
  height: 48px;
  border: none;
  margin-top: 60px;
}

.reset {
  text-decoration: none;
}

.display-parameters {
  display: flex;
  align-items: center;
}

/*слишком большой отступ из за h2*/
.searching-result {
  display: inline-block;
  margin-left: 71px;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  width: 287px;
  height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 182px;
}

.view-buttons {
  display: flex;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  padding-left: 81px;
}

.view-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.hotel-list {
  margin: 0 auto;
  padding-left: 71px;
}

.hotel-card {
  display: grid;
  width: 1059px;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: min-content min-content min-content;
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 30px;
}

.hotel-card-link {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1/-1;
  align-self: center;
  margin: 0;
  padding-right: 36px;
}

.hotel-card-image {
  width: 180px;
  height: 120px;
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  grid-column: 2/4;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotel-type {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotel-card-price {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.button-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 151px;
  height: 37px;
  margin-right: 8px;
  padding: 0;
}

.button-add-to-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.button-azure {
  color: #ffffff;
  background: #83b3d3;
  text-decoration: none;
}

.bg-white {
  color: #000000;
  background-color: #ffffff;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 4;
}

.star {
  padding-right: 8px;
}

.ratio-points {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 4;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

/*загрузить еще*/
.show-more-wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 31px 0;
}

.show-more {
  width: 625px;
  height: 55px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 0;
}
/*пагинация*/
.pagination {
  display: flex;
  justify-content: left;
  margin-right: 8px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8px;
  list-style-type: none;
}

.pagination-item {
  width: 55px;
  height: 55px;
  border: 1px black;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8px;
  list-style-type: none;
}

.pagination-item:nth-child(2) > .pagination-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pages {
  width: 1056px;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content;
}

.subscription {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.promise {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.page-footer {
  height: 120px;
  width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 108px;
  margin-left: 72px;
  padding: 0;
  align-self: center;
  list-style-type: none;
}

.footer-social-item {
  width: 32px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.footer-social {
  align-content: center;
}

.contacts-phone {
  display: flex;
  justify-content: space-around;
  width: 720px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}

.promo {
  width: 240px;
  height: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
