@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.navigation-list {
  width: 530px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 280px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: inherit;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: inherit;
  background-color: inherit;
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.intro {
  height: 282px;
  margin: 0;
  padding: 0;
}

.about {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

/*.divider {
  position: absolute;
  left: 0;
  width: 100% auto;
}*/

.comparison {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
}

/*не работает
.reasons {
  width: 1200px;
  margin: 0 auto;
}
*/

.reason {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
}

.reason-photo {
  width: 800;
  height: 384;
}
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.reason-title {
  color: inherit;
  background-color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.reason-number {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.reason-description {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.coldblue-bg {
  color: #ffffff;
  background-color: #83b3d3;
}

.coldgrey-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.warmgrey-bg {
  background-color: rgba(131, 179, 211, 0.2);
}
.travel-date {
  color: #333333;
  background-color: #ffffff;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
}

.interested {
  height: 417px;
}

.mailing {
  color: #ffffff;
  background-color: #000000;
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/main/mailing-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 411px;
}

.main-inner {
  color: #ffffff;
  background-color: #000000;
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/catalogue-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.button-azure {
  color: #ffffff;
  background: #83b3d3;
}

.bg-white {
  color: #000000;
  background-color: #ffffff;
}

.ratio-stars-1 {
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/star.svg");
  background-repeat: repeat-x;
  width: 18px;
}

.ratio-stars-2 {
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/star.svg");
  background-repeat: repeat-x;
  width: 36px;
}

.ratio-stars-3 {
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/star.svg");
  background-repeat: repeat-x;
  width: 54px;
}

.ratio-stars-4 {
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/star.svg");
  background-repeat: repeat-x;
  width: 72px;
}

.ratio-stars-5 {
  background-image: url("C:/Users/Роман/Documents/GitHub/1897333-sedona-32/images/catalogue/star.svg");
  background-repeat: repeat-x;
  width: 90px;
}

.hotel-type {
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-price {
  color: #333333;
  background-color: #ffffff;
}

.ratio-points {
  color: #333333;
  background-color: #f2f2f2;
}

.promise {
  color: #333333;
}

.email-field {
  color: #000000;
  background-color: #f2f2f2;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

/*
.page-footer {
  height: 120px;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
*/

.footer-social {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.contacts-phone {
  display: flex;
  justify-content: center;
}
